flask
vosk
sounddevice
scipy
numpy
pydub
noisereduce
transformers
spacy
torch
torchaudio
librosa
soundfile
faster-whisper
gradio>=4.36.1
sqlalchemy>=2.0.30
faster-whisper>=0.10.0
pydub>=0.25.1
soundfile>=0.12.1
numpy>=1.26.4
llama-index==0.13.2


